* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #00162f;
  background-image: url("../img/bg.svg");
  background-blend-mode: soft-light;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#hero::before {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 500px;
  height: 500px;
  background-color: #e0077e;
  border-radius: 50%;
  filter: blur(320px);
  z-index: 1;
}
#hero::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 250px;
  height: 500px;
  background-color: #076ce0;
  transform: rotate(45deg);
  filter: blur(250px);
  z-index: 1;
}

#hero .heading {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  text-align: center;
  z-index: 3;
}
#hero .heading span {
  color: #e0077e;
}
#hero p {
  color: #bbbbbb;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  z-index: 3;
  width: 40%;
}

.socialIcon {
  position: relative;
  margin: 20px 0;
  z-index: 999;
}
.socialIcon ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialIcon ul li {
  list-style: none;
}
.socialIcon ul li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 10px;
  background-color: #e0077e;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.699);
  transition: all 0.5s;
}
.socialIcon ul li:hover a {
  width: 60px;
  border-radius: 20px;
  background-color: #00162f;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.699);
}

@media (max-width: 767.98px) {
  #hero p {
    width: 80%;
  }
}
